include README.md
include openvpn-monitor.py
include openvpn-monitor.conf.example
include AUTHORS
include COPYING
include MANIFEST.in
include VERSION.txt
include requirements.txt
recursive-include images *
