[openvpn-monitor]
site=Example
#logo=logo.jpg
#latitude=40.72
#longitude=-74
maps=True
maps_height=500
geoip_data=/var/lib/GeoIP/GeoLite2-City.mmdb
datetime_format=%d/%m/%Y %H:%M:%S

[VPN1]
host=localhost
port=5555
name=Staff VPN
password=
show_disconnect=False
